@media print {
  /* Print ထုတ်ချိန်တွင် Screen UI Layout များကို ဖျောက်ထားမည် */
  body * {
    visibility: hidden;
  }
  /* print:block ပေးထားသော Voucher ကိုပဲ သီးသန့် ကွက်တိထုတ်ပြမည် */
  .print\:block, .print\:block * {
    visibility: visible;
  }
  .print\:block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}